.row
  = simple_form_for :user, :url => update_all_path, :html => { :method => :put } do
    %input.btn.btn-primary{ :type => "submit", :value => "Save Changes" }
    - @users.sort_by(&:first_name).in_groups_of(3, false) do |objects|
      .row
        - objects.each do |user|
          .col-md-4.user-box
            = simple_fields_for "user[]", user do |user_fields|
              = render :partial => 'users/user', :locals => { :user => user, :f => user_fields }
