.jumbotron
  %h1 Hours Report
  - if current_user
    %p Welcome #{current_user.first_name}!
.row
  .col-md-3
    %ul
      %li Create next month report
      %li Send reminders
      %li View current report
