$background-color: white;
$text-color: #777777;
$header-color: rgb(61, 120, 190);
$weekend-row-color: aliceblue;
$border-color: #DDDDDD;
$error-color: red;
$color-dark-blue: #0089cf;
$purple: purple;
$green: rgb(56, 116, 56);
$orenge: rgb(218, 134, 28);
$pink: rgb(203, 55, 93);

