%h1.mail= "Hi #{@invitation.recipient_name}"
%h3 Welcome to the Hours Report application
%p.mail
  Please register #{ link_to "Here", login_url } to start getting monthly notifications and fill in your hours
