<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <h3><%= "Hi #{@invitation.recipient_name}" %></h3>
            <p class="lead">
              Welcome to Hours Report!!
            </p>
            <p class="lead">
              Please register
              <%= link_to "Here", login_url %>
              to start getting monthly notifications and fill in your hours
            </p>
          </td>
        </tr>
      </table>
      </div><!-- /content -->

    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->
