<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <h3><%= "Hi #{@user.name}" %></h3>
            <!-- Callout Panel -->
            <p class="callout">
              Please fill
              <%= link_to "Your hours report", edit_user_timesheet_url(@user, @timesheet) %>
            </p><!-- /Callout Panel -->
            <p class="lead">
              <%= "The last day you can fill your hours is #{@report.end_date.in_time_zone('Jerusalem').strftime('%B %d, %Y')}" %>
             </p>
          </td>
        </tr>
      </table>
      </div><!-- /content -->

    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->
