input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  font-size: $secondary-font-size;
  color: $text-color;
}

input[disabled], input[readonly]{
}

form.edit_timesheet input.weekend,
form.edit_timesheet select.weekend,
form.edit_timesheet input.holiday,
form.edit_timesheet select.holiday {
  background-color: $weekend-row-color;
}

form.edit_timesheet input.vacation,
form.edit_timesheet select.vacation {
  background-color: $vacation-row-color;
}

label {
  font-size: $secondary-font-size;
  color: $text-color;
}

.simplebox {
  outline: none;
  border: 1px solid transparent !important;
  box-shadow:none !important;
  background-color: transparent;

  &:hover, &:focus {
    border: 1px solid $light-gray !important;
    border-radius: 3px;
  }
}

.no-top-border {
  border-top: none !important;

  &.total-left {
    background-color: lightblue;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
  }

  &.total-right {
    background-color: lightblue;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
  }
}
