$background-color: white;
$blue: lightblue;
$weekend-row-color: aliceblue;

html,
body {
  background-color: $background-color;
  height: 100%;
}

#main-header {
  background-color: $blue;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.signin-button {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: $blue;
}

#wrap > .container {
  padding: 60px 15px 0;
}

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.box {
  background: {
    color: white;
  }

  margin-top: 9px;

  box: {
    shadow: 0 10px 15px 0 rgba(205, 205, 205, 0.3);
  }

  border: {
    width : 1px;
    style : solid;
    color : #DDDDDD;
  }

  padding: 20px;
}

.has-error {
  color: red;
}

.action-header {
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  border-radius: 4px 4px 4px 4px;
  padding: 15px 15px 15px 15px;
  margin: 0 -15px 15px;
  box-shadow: none;

  * {
    display:inline
  }
}

form.edit_timesheet input.weekend,
form.edit_timesheet select.weekend,
form.edit_timesheet input.holiday,
form.edit_timesheet select.holiday {
  background-color: $weekend-row-color;
}
