@import "modules/settings";
@import "modules/colors";
@import "modules/typography";
@import "components/titles";
@import "components/tables";
@import "components/box";
@import "components/links";
@import "components/inputs";
@import "components/site_menu";
@import "font-awesome";

html,
body {
  font-family: NeoSansStd-Regular;
  background-color: $background-color;
  height: 100%;
}

#main-header {
  background-color: $header-color;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  font-family: NeoSansStd-Light;
}

.signin-button {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#wrap > .container {
  padding: 110px 15px 0;
}

.container .credit {
  margin: 20px 0;
}

.has-error {
  color: $error-color;
}

.action-header {
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  border-radius: 4px 4px 4px 4px;
  padding: 15px 15px 15px 15px;
  margin: 0 -15px 15px;
  box-shadow: none;

  * {
    display:inline
  }
}
