body.mail {
  background: #F1F1F1;
  text-align: center;
}

.mail_outer_container {
  background: #F1F1F1;
  width: 600px;
  margin-bottom: 30px;
}

.mail_container {
  margin-top: 50px;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  background: #F8F8F8;
  border-spacing: 0;
}

#footer td,
#header td {
  padding: 20px;
}

#content td {
  padding: 0 20px 20px 20px;
}

p.mail {
  color: #646464;
  font-family: Arial,sans-serif;
  font-size: 14px;
}

h1.mail {
  margin: 0;
  font-weight: normal;
  font-family: Arial,sans-serif;
  font-size: 36px;
  color: #0089CF;
}
