@font-face {
  font-family: 'NeoSansStd-Regular';
  src: asset_url('/fonts/NeoSansStd-Regular.eot?iefix') format('embedded-opentype'),
  asset_url('/fonts/NeoSansStd-Regular.woff') format('woff'),
  asset_url('/fonts/NeoSansStd-Regular.ttf') format('truetype'),
  asset_url('/fonts/NeoSansStd-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansStd-Bold';
  src: asset_url('/fonts/NeoSansStd-Bold.eot?iefix') format('embedded-opentype'),
  asset_url('/fonts/NeoSansStd-Bold.woff') format('woff'),
  asset_url('/fonts/NeoSansStd-Bold.ttf') format('truetype'),
  asset_url('/fonts/NeoSansStd-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansStd-Light';
  src: asset_url('/fonts/NeoSansStd-Light.eot?iefix') format('embedded-opentype'),
  asset_url('/fonts/NeoSansStd-Light.woff') format('woff'),
  asset_url('/fonts/NeoSansStd-Light.ttf') format('truetype'),
  asset_url('/fonts/NeoSansStd-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
