%div{ "ng-controller" => "ExpenseReportFormController" }
  .panel-body
    .row
      .col-md-3
        .dropdown
          %a.dropdown-toggle#start-time-select{ "role" => "button", "data-toggle" => "dropdown", "data-target" => "#", "href" => "" }
            .input-group
              %input.input-lg.form-control{ "type" => "text", "data-ng-model" => "newExpenseReport.startTime", "readable" => true, "placeholder" => "Departure Time" }
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
          %ul.dropdown-menu{ "role" => "menu"}
            %datetimepicker{ "data-ng-model" => "newExpenseReport.startTime",
              "data-datetimepicker-config" => "{ dropdownSelector: '#start-time-select', minView: 'hour' }" }

      .col-md-3.col-md-offset-1
        .dropdown
          %a.dropdown-toggle#end-time-select{ "role" => "button", "data-toggle" => "dropdown", "data-target" => "#", "href" => "" }
            .input-group
              %input.input-lg.form-control{ "type" => "text", "data-ng-model" => "newExpenseReport.endTime", "readable" => true, "placeholder" => "Return Time" }
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
          %ul.dropdown-menu{ "role" => "menu"}
            %datetimepicker{ "data-ng-model" => "newExpenseReport.endTime",
              "data-datetimepicker-config" => "{ dropdownSelector: '#end-time-select', minView: 'hour' }" }

      .col-md-3.col-md-offset-1
        %select.form-control.input-lg{ "ng-model" => "newExpenseReport.country",
          "ng-options" => "country for country in newExpenseReport.availableCountries()" }
          %option{ "value" => "" } Destination

    .row.top-buffer
      %table.table
        %thead
          %tr
            %th
            %th Description
            %th Amount
            %th Currency
            %th Quantity
            %th Exchange Rate
            %th Total (ILS)
        %tbody
          %tr{ "ng-repeat" => "expense in newExpenseReport.expenses" }
            %td
              %a.simplebox.glyphicon.glyphicon-trash{ "href" => "", "ng-click" => "newExpenseReport.removeExpense(expense)" }
            %td
              %input.simplebox{ "type" => "text", "data-ng-model" => "expense.description", "placeholder" => "Description" }
            %td
              %input.simplebox{ "type" => "number", "data-ng-model" => "expense.amount", "placeholder" => "Amount" }
            %td
              %span {{expense.currency}}
            %td
              %input.simplebox{ "type" => "number", "data-ng-model" => "expense.quantity", "placeholder" => "Quantity" }
            %td
              %span {{expense.exchangeRate}}
            %td
              %span {{expense.total() + " " + currencySymbol['ILS'] }}
          %tr
            %td
              %a.glyphicon.glyphicon-plus{ "href" => "", "ng-click" => "addExpense()" }
            %td
            %td
            %td
            %td
            %td
            %td
          %tr
            %td.no-top-border
            %td.no-top-border
            %td.no-top-border
            %td.no-top-border
            %td.no-top-border
            %td.no-top-border.total-left
              %span.pull-right Expense report total:
            %td.no-top-border.total-right {{ newExpenseReport.total() + " " + currencySymbol['ILS'] }}
