%form.form-horizontal{ "name" => "mainForm", "novalidate" => true }
  %div{ "ng-controller" => "ExpenseReportFormController" }
    .row
      %button.pull-right.btn.btn-primary.btn-lg{ "type" => "button", "ng-disabled" => "mainForm.$invalid",
        "ng-click" => "submitReport()" } Submit Expense Report
    .panel-body
      .col-md-6
        .form-group
          %label.control-label.col-md-4
            %i.fa.fa-plane.fa-2x.pull-right
            %p.pull-right Outbound flight
          .col-md-8
            .input-group
              %input.input-lg.form-control#dani{ type: "text", "ng-model" => "expenseReport.startTime", "data-autoclose" => "1",
                "data-max-date" => "{{expenseReport.endTime}}", "bs-datepicker" => true, "ng-change" => "updateRates()",
                "placeholder" => "Outbound date", "data-date-format" => "MMM d, yyyy" }
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
              %input.input-lg.form-control{ type: "text", "ng-model" => "expenseReport.startTime", "data-autoclose" => "1",
                "data-minute-step" => 10, "bs-timepicker" => true, "ng-change" => "updateRates()",
                "placeholder" => "Outbound time", "data-time-format" => "HH:mm" }
              %span.input-group-addon
                %span.glyphicon.glyphicon-time
        .form-group
          %label.control-label.col-md-4
            %i.fa.fa-plane.fa-rotate-90.fa-2x.pull-right
            %p.pull-right Return flight
          .col-md-8
            .input-group
              %input.input-lg.form-control{ type: "text", "ng-model" => "expenseReport.endTime", "data-autoclose" => "1",
                "data-min-date" => "{{expenseReport.startTime}}", "data-max-date" => "today", "bs-datepicker" => true,
                "ng-change" => "updateRates()", "placeholder" => "Return date", "data-date-format" => "MMM d, yyyy" }
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
              %input.input-lg.form-control{ type: "text", "ng-model" => "expenseReport.endTime", "data-autoclose" => "1",
                "data-minute-step" => 10, "bs-timepicker" => true, "ng-change" => "updateRates()",
                "placeholder" => "Return time", "data-time-format" => "HH:mm" }
              %span.input-group-addon
                %span.glyphicon.glyphicon-time

      .col-md-4
        %label.control-label.col-md-4 Country
        .col-md-8
          %select.form-control.input-lg{ "name" => "country", "ng-model" => "expenseReport.country", "required" => true,
            "ng-options" => "country for country in expenseReport.availableCountries()" }
            %option{ "value" => "" } Destination

      .row.top-buffer
        %table.table
          %thead
            %tr
              %th
              %th Description
              %th Amount
              %th Currency
              %th Quantity
              %th Exchange Rate
              %th Total (Local)
              %th Total (ILS)
          %tbody
            %tr{ "ng-repeat" => "expense in expenseReport.expenses", "ng-form" => "subForm" }
              %td
                %a.simplebox.glyphicon.glyphicon-trash{ "href" => "", "ng-click" => "expenseReport.removeExpense(expense)" }
              %td
                %input.simplebox{ "type" => "text", "name" => "description", "data-ng-model" => "expense.description", "placeholder" => "Description",
                  "required" => true }
              %td
                %input.simplebox{ "type" => "number", "name" => "amount", "data-ng-model" => "expense.amount", "placeholder" => "Amount",
                  "min" => "1", "required" => true }
              %td
                %select.simplebox{ "type" => "text", "data-ng-model" => "expense.currency", "ng-change" => "updateRates()", "required" => true,
                  "ng-options" => "currency.id as currency.name for currency in expense.availableCurrencies()" }
              %td
                %input.simplebox{ "type" => "number", "name" => "quantity", "data-ng-model" => "expense.quantity", "placeholder" => "Quantity",
                  "min" => "1", "required" => true }
              %td
                %span {{expense.exchangeRate}}
              %td
                %span {{(expense.localTotal() | number:2) + " " + currencySymbol[expense.currency] }}
              %td
                %span {{(expense.total() | number:2) + " " + currencySymbol['ILS'] }}
            %tr
              %td
                %a.glyphicon.glyphicon-plus{ "href" => "", "ng-click" => "addExpense()" }
              %td
              %td
              %td
              %td
              %td
              %td
              %td
            %tr
              %td.no-top-border
              %td.no-top-border
              %td.no-top-border
              %td.no-top-border
              %td.no-top-border
              %td.no-top-border
              %td.no-top-border.total-left
                %span.pull-right Expense report total:
              %td.no-top-border.total-right {{ (expenseReport.total() | number:2) + " " + currencySymbol['ILS'] }}
