%table{ :name => "Excel Example", :style => "background-color:#DADFE8; border-color:black" }
  %tr{ :style => "font-weight:bold; background-color:#C27BA0" }
    %th Name
    %th Vacation Days
    %th Sickness Days
    %th Army Reserve Days
    %th Leave of absence Days
    %th 10Bis
    %th Expense report - local
    %th Expense report - abroad
    %th New Employee (start date)
    %th Comments
  = render :partial => "timesheets/summary", :collection =>  @report.timesheet_summaries, :as => :summary
