%table.table
  %thead
    %tr
      %th Name
      %th Vacation Days
      %th Sickness Days
      %th Army Reserve Days
      %th Expense report- local
      %th Expense report- abroad
      %th New Employee (start date)
      %th Comments
  %tbody
    = render :partial => "timesheets/summary", :collection =>  @report.timesheet_summaries, :as => :summary
